body{
  background-color: #f2f2f2;
}
header{
  font-size:12px;
  overflow: hidden;
  background-color:#fff;
}


#logo_wrap{
  display: flex;
  /* justify-content: flex-start; */
  float: left;
}

#logo{
  height: 45px;
  width: 206px;
}

#globalm{
  height: 45px;
}

#out_wrap{
  display: flex;
  /* justify-content: flex-end; */
  float: right;
  margin-top: 7px;
}

#timer{
  margin-top: 5px;
}
#timer>span{
  margin: 0 48px 0 5px;
  font-weight: bold;
  line-height: 29px;
}

#timer>img{
  margin-top: 4px;
}

#logout{
  width: 170px;
  margin-right: 24px;
  padding: 0 3px;
  line-height: 20px;
  border: 1px solid gray;
  text-align: center;
  font-weight: bold;
}

#logout>span{
  line-height: 29px;
}
#logout> img{
  padding-top: 4px;
  margin: 1px 0 4px 0;
  float: right;
}