    body>div {
        padding: 10px;
            min-width: 700px;
            max-width: 1000px;
        }

        div>span+div {
            border: 1px solid gray;
            margin-top: 10px;
            padding: 10px;
        }

        #search {
            float: right;
            margin-right: 10px;
        }

        div>div:nth-of-type(2) {
            /*form 정보*/
            border: 1px solid gray;
            margin-top: 10px;
            padding: 20px;
        }

        div>div:nth-of-type(2)>form {
            padding: 30px;
        }

        div>div:nth-of-type(2)>form>table>tr {}

        td {
            height: 40px;
        }

        form+div {
            text-align: center;    
            
        }
        #update{
            width: 100px;
            height: 25px;
            color: white;
            background-color: rgb(190,31,49);
            border: 0;
            border-radius: 5px;
        }